html 
{
  box-sizing: border-box;
  font-family : 'Karla';
  font-size : 15px;
  font-weight : 400;
}

*,
*:before,
*:after 
{
  box-sizing: inherit;
}

body 
{
  padding : 35px;
}

h2,
h4,
p 
{
  margin: 0;
}

#card 
{
  height: 400px;
  width: 600px;
  box-shadow: 1px -1px 19px -5px rgba(0, 0, 0, 1);
  border-radius: 6px;
  overflow: hidden;
}

#top 
{
  width: 100%;
  height: 45%;
  padding: 25px;
}

#bottom 
{
  width: 100%;
  height: 55%;
}

#bottom-left 
{
  background-color: #12c9ae;
}

#bottom-right 
{
  background-color: #37d4c7;
}

#bottom-left,
#bottom-right 
{
  color: white;
  display: inline-block;
  height: 100%;
  width: 50%;
  vertical-align: top;
  padding: 30px;
}

#top h2 
{
  color: #12c9ae;
  margin-bottom: 15px;
}

#top h4 
{
  color: hsl(71, 73%, 54%);
  margin-bottom: 10px;
}

#top p 
{
  color: hsl(218, 22%, 67%);
}

#price 
{
  font-weight : 700;
  font-size : 1.7rem;
}

#price-follow 
{
  opacity : 0.8;
  position : relative;
  top : -3px;
  margin-left : 5px;
}

#price, #price-follow 
{
  display : inline-block;
  margin-bottom : 15px;
}

button 
{
  color : white;
  padding : 12px;
  width : 100%;
  border : none;
  background-color : hsl(71, 73%, 54%);
  border-radius : 5px;
  box-shadow : 0px 0px 20px -5px rgba(0,0,0,0.75);
}

#bottom-left h4, p 
{
  margin-bottom : 20px;
}

ul 
{
  padding : 0;
  list-style : none;
  opacity : 0.9;
}

button:hover 
{
  cursor : pointer;
  background-color : #B7D531;
  color : gray;
  transform : scale(1.02);
}

/* This is the at-rule which makes the whole thing responsive for mobile screens */
@media (max-width : 650px)
{
  #bottom-left, #bottom-right, #card
  {
    height : auto;
    width : 100%;
  }
}
